$img_full_width: 100%;

header{
    
    .lead-banner{
        img{
            width: $img_full_width;
        }
    }
}

.main-nav{

    padding: 15px 30px;
    
    ul{
        li{
            list-style: none;
            float: left;
            padding: 10px;

            a{
                font-size: 2rem;
                text-decoration: none;
            }
        }
    }
}

.lessons-banner{
    img{
        width: $img_full_width;
    }
}